In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [191]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [193]:
answers = {} # создадим словарь для ответов

# добавим в датасет новую колонку в которой будет отражаться информация о прибыли
data['profit'] = data.revenue - data.budget
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [31]:
#вывод на экран строки датасета в которой бюджет максимален
display(data[data.budget == data.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [32]:
df=data.sort_values(by='budget', ascending=False)
display(df.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010,331794936

In [4]:
answers['1'] = {'1. Pirates of the Caribbean: On Stranger Tides'}

# 2. Какой из фильмов самый длительный (в минутах)?

In [27]:
#вывод на экран строки датасета с максимальной продолжительностью фильма
display(data[data.runtime == data.runtime.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [5]:
answers['2'] = {'2. Gods and Generals'}

In [14]:
df=data.sort_values(by='runtime', ascending=False)
display(df.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001

# 3. Какой из фильмов самый короткий (в минутах)?

In [28]:
#вывод на экран строки датасета с минимальной продолжительностью фильма
display(data[data.runtime == data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [16]:
df=data.sort_values(by='runtime', ascending=True)
display(df.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004

In [6]:
answers['3'] = {'3. Winnie the Pooh'}

# 4. Какова средняя длительность фильмов?

In [20]:
# использование статистической функции mean()
display(data.runtime.mean())

109.6585494970884

In [7]:
answers['4'] = {'4. 110'}

# 5. Каково медианное значение длительности фильмов?

In [29]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [8]:
answers['5'] = {'5. 107'}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
#вывод на экран строки датасета с максимальной прибылью фильма
display(data[data.profit == data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [9]:
answers['6'] = {'6. Avatar'}

# 7. Какой фильм самый убыточный?

In [35]:
#вывод на экран строки датасета с минимальной прибылью фильма
display(data[data.profit == data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [10]:
answers['7'] = {'7. The Lone Ranger'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [43]:
#делаем срез из фильмов с положительной прибылью и выводим их количество
movie_profit_count = data[data.profit > 0].imdb_id.count()
#display(len(df))
print(movie_profit_count)

1478

In [11]:
answers['8'] = {'8. 1478'}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [123]:
# Делаем срез из фильмов выпущенных в 2008 году и выводим строку среза с максимальной прибылью
df_9 = data[data.release_year == 2008]
display(df_9[df_9.profit == df_9.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [12]:
answers['9'] = {'9. The Dark Knight'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [75]:
# Делаем срез из фильмов выпущенных в 2012-2014 годах и выводим строку среза с максимальной отрицательной прибылью
df = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
display(df[df.profit == df.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [13]:
answers['10'] = {'10. The Lone Ranger'}

# 11. Какого жанра фильмов больше всего?

In [91]:
# Копируем датасет
df_11 = data.copy()
#создаем список из строки с жанрами, может быть несколько жанров в одной строке
df_11.genres = df_11.genres.str.split('|')
# с помощью функции explode преобразуем датасет в серию таким образом чтобы в каждой строке присутсвовал только один жанр 
df_11 = df_11.genres.explode()
# с помощью функции value_counts подсчитываем количество по каждому отдельно взятому жанру
display(df_11.value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [14]:
answers['11'] = {'11. Drama'}

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [197]:
# Копируем датасет
df_12 = data.copy()
# Делаем срез из фильмов с положительной прибылью
df_12 = df_12[df_12.profit > 0]
#создаем список из строки с жанрами, может быть несколько жанров в одной строке
df_12.genres = df_12.genres.str.split('|')
# с помощью функции explode преобразуем датасет в серию таким образом чтобы в каждой строке присутсвовал только один жанр
df_12 = df_12.genres.explode()
# с помощью функции value_counts подсчитываем количество по каждому отдельно взятому жанру
display(df_12.value_counts())

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [36]:
answers['12'] = {'12. Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [199]:
# Копируем датасет
df_13 = data.copy()
#создаем список из строки с режисерами, может быть несколько режисеров в одной строке
df_13.director = df_13.director.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только один режисер
df_13 = df_13.explode('director')
# с помощью функции groupby по каждому режисеру высчитываем сумму всех кассовых сборов и сортируем по возрастанию
grouped_df_13 = df_13.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
display(grouped_df_13.head(5))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [59]:
answers['13'] = {'13. Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [64]:
# Копируем датасет
df_14 = data.copy()
#создаем список из строки с режисерами, может быть несколько режисеров в одной строке
df_14.director = df_14.director.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только один режисер
df_14 = df_14.explode('director')
# делаем срез из преобразованного датасета только тех строк в жанре которых присутствует Action
df_best_action_director = df_14[df_14.genres.str.contains('Action', na=False)]
# с помощью функции value_counts подсчитываем количество фильмов по каждому отдельно взятому жанру
df_best_action_director.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Ron Underwood         1
Joseph Kahn           1
Antony Hoffman        1
Joe Cornish           1
Danny Pang            1
Name: director, Length: 364, dtype: int64

In [65]:
answers['14'] = {'14. Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [119]:
# Копируем датасет
df_15 = data.copy()
#создаем список из строки с актерами, может быть несколько актеров в одной строке
df_15.cast = df_15.cast.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только один актер
df_15 = df_15.explode('cast')
# делаем выборку по фильмам выпущенным в 2012 году
df_15_2012 = df_15[df_15.release_year == 2012]
# с помощью функции groupby по каждому актеру высчитываем сумму всех кассовых сборов и сортируем по возрастанию
grouped_df_15_2012 = df_15_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)
grouped_df_15_2012.head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

In [75]:
answers['15'] = {'15. Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [83]:
# Копируем датасет
df_16 = data.copy()
#создаем список из строки с актерами, может быть несколько актеров в одной строке
df_16.cast = df_16.cast.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только один актер
df_16 = df_16.explode('cast')
# делаем выборку по фильмам с бюджетом выше среднего
df_16_high_budget = df_16[df_16.budget > df_16.budget.mean()]
# с помощью функции value_counts по каждому актеру высчитываем количество фильмов с бюджетом выше среднего
df_16_high_budget.cast.value_counts()

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Samuel L. Jackson       15
Tom Cruise              15
                        ..
Linda Cardellini         1
Shaun Toub               1
Kaya Scodelario          1
Susanna Thompson         1
Dakota Blue Richards     1
Name: cast, Length: 1505, dtype: int64

In [82]:
answers['16'] = {'16. Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [92]:
# Копируем датасет
df_17 = data.copy()
#создаем список из строки с актерами, может быть несколько актеров в одной строке
df_17.cast = df_17.cast.str.split('|')
#создаем список из строки с жанрами, может быть несколько жанров в одной строке
df_17.genres = df_17.genres.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только один актер
df_17 = df_17.explode('cast')
# с помощью функции explode преобразуем датасет в серию таким образом чтобы в каждой строке присутсвовал только один жанр
df_17 = df_17.explode('genres')
# делаем выборку по фильмам в котоых снимался Nicolas Cage
df_17_cage_film = df_17[df_17.cast == 'Nicolas Cage']
# с помощью функции value_counts по каждому жанру считаем количество фильмов
df_17_cage_film.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [91]:
answers['17'] = {'17. Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [114]:
# Копируем датасет
df_18 = data.copy()
#создаем список из строки с компаниями-производителями, может быть несколько компаний-производителей в одной строке
df_18.production_companies = df_18.production_companies.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только одна компания
df_18 = df_18.explode('production_companies')
# делаем выборку по фильмам снятых компанией Paramount Pictures 
df_18_paramount_films = df_18[df_18.production_companies == 'Paramount Pictures']
# выводим название фильма с максимально отрицательной прибылью
df_18_paramount_films[df_18_paramount_films.profit == df_18_paramount_films.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [108]:
answers['18'] = {'18. K-19: The Widowmaker'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [112]:
# с помощью функции groupby по каждому году выпуска высчитываем сумму всех кассовых сборов и сортируем по возрастанию
df_19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
df_19.head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [113]:
answers['19'] = {'19. 2015'}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [121]:
# делаем выборку по фильмам снятых студиями в названии которых присутствует Warner Bros
df_20 = data[data.production_companies.str.contains("Warner Bros", na=False)]
# с помощью функции groupby по каждому году выпуска высчитываем сумму всех кассовых сборов и сортируем по возрастанию
df_20 = df_20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
df_20.head()

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
Name: revenue, dtype: int64

In [122]:
answers['20'] = {'20. 2014'}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [201]:
# Копируем столбец с датой релиза в серию
df_21 = data[['release_date']].copy()
# в серии с помощью фунции DatetimeIndex заменяем значения в столбце с датой релиза на месяц релиза
df_21.release_date = pd.DatetimeIndex(df_21.release_date).month
# # с помощью функции value_counts по каждому месяцу подсчитываем количество вхождений(то есть релизов)
df_21.release_date.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [125]:
answers['21'] = {'21. Сентябрь'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [187]:
# Копируем столбец с датой релиза в серию
df_22 = data[['release_date']].copy()
# в серии с помощью фунции DatetimeIndex заменяем значения в столбце с датой релиза на месяц релиза
df_22.release_date = pd.DatetimeIndex(df_22.release_date).month
# делаем выборку только по летним месяцам
df_22_summer = df_22[(df_22.release_date > 5) & (df_22.release_date < 9)]
# выводим длину серии с летними месяцами релизов
len(df_22_summer)

450

In [128]:
answers['22'] = {'22. 450'}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [133]:
# Копируем датасет в датасет содержащий только столбцы с режисерами и датами релизов
df_23 = data[['director','release_date']].copy()
#создаем список из строки с режисерами, может быть несколько режисеров в одной строке
df_23.director = df_23.director.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только один режисер
df_23 = df_23.explode('director')
# в серии с помощью фунции DatetimeIndex заменяем значения в столбце с датой релиза на месяц релиза
df_23.release_date = pd.DatetimeIndex(df_23.release_date).month
# делаем выборку только по зимним месяцам
df_23_winter_release = df_23[(df_23.release_date == 12) | (df_23.release_date <= 2)]
# с помощью функции mode выводим наиболее часто встречающегося режисера в серии зимних релизов
df_23_winter_release.director.mode()

0    Peter Jackson
dtype: object

In [134]:
answers['23'] = {'23. Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [186]:
# Копируем датасет в датасет содержащий только столбцы с названиями фильмов и компаниями-производителями
df_24 = data[['original_title','production_companies']].copy()
# в скопированный датасет добавляем столбец title_lenght, содержащий длину названий фильмов по количеству символов
df_24['title_lenght'] = df_24['original_title'].str.len()
#создаем список из строки с компаниями-производителями, может быть несколько компаний-производителей в одной строке
df_24.production_companies = df_24.production_companies.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только одна компания
df_24 = df_24.explode('production_companies')
# с помощью функции groupby по каждой компании высчитываем среднюю длину названий фильмов и сортируем по возрастанию
display(df_24.groupby('production_companies')['title_lenght'].mean().sort_values(ascending = False))

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_lenght, Length: 1771, dtype: float64

In [140]:
answers['24'] = {'24. Universal Pictures'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [157]:
# Копируем датасет в датасет содержащий только столбцы с описанием фильмов и компаниями-производителями
df_25 = data[['overview','production_companies']].copy()
# в скопированный датасет добавляем столбец overview_lenght, содержащий длину названий фильмов по количеству слов
df_25['overview_lenght'] = df_25['overview'].str.split(' ').str.len()
#создаем список из строки с компаниями-производителями, может быть несколько компаний-производителей в одной строке
df_25.production_companies = df_25.production_companies.str.split('|')
# с помощью функции explode преобразуем датасет таким образом чтобы в каждой строке присутсвовал только одна компания
df_25 = df_25.explode('production_companies')
# с помощью функции groupby по каждой компании высчитываем среднее количество слов в описании фильмов и сортируем по возрастанию
display(df_25.groupby('production_companies')['overview_lenght'].mean().sort_values(ascending = False))

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_lenght, Length: 1771, dtype: float64

In [158]:
answers['25'] = {'25. Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [160]:
# выводим названия фильмов входящих в 1 процент лучших по рейтингу с использованием 
# функции percentile из библиотеки Numpy
display(data.loc[(data['vote_average'] > np.percentile(data['vote_average'],99))].original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [204]:
answers['26'] = {'26. Inside Out, The Dark Knight, 12 Years a Slave'}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [185]:
import itertools as it


df_27 = data[['cast']].copy()
df_27.cast = df_27.cast.str.split('|')
df_27.cast = df_27.cast.apply(lambda x: list(it.combinations(sorted(x), 2))) 
df_27.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

In [202]:
answers['27'] = {'27. Daniel Radcliffe, Rupert Grint'}